.wrapper{
    width: 1280px;
}
.menue1 {
   
    background-color: red;
    display: flex;
    justify-content: space-between;
    
}

.container {
    margin: 10px;
}

.containerrechts {
    margin: 10px;
    margin-left: 20px;
}

.picture {
    background-image: url("Download.png");
    height: 150px;
    width: 380px;
}

.menue2 {
   
    background-color: red;
    display: flex;
    justify-content: space-between;
}

.container1 {
    margin: 10px;
}

.containerrechts1 {
    margin: 10px;
    margin-left: 20px;
}

.picture1 {
    background-image: url("orf_b1.jpg");
    height: 500px;
   
}

.menue3 {
    position: relative;
   justify-content: center;
}

.center {
    background-color: white;
    
    width: 800px;
    top: -50px
}