* {
    margin: 0px;
    font-family: 'Andada Pro', Serif;
}

.upper {
    display: flex;
    justify-content: space-between;
    color: black;
}

.middle {
    font-family: 'Andada Pro', serif;
    display: flex;
    justify-content: space-between;
}

.logo img {
    margin-right: 10px;
    margin-top: 10px;
}

.h1 {
    font-family: 'Andada Pro', Serif;
    margin-top: 20px;
}

.middle {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px
}

.upper {
    margin-top: 10px;
    margin-left: 30px;
    font-family: 'Andada Pro', Serif;
}